{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Tab Listings Column -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for tab in tab_list %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <a href="{% url 'tab_detail' tab.slug %}" class="mb-4 shadow-sm text-decoration-none text-reset">
                                    <h5 class="card-title text-center">{{ tab.title }}</h5>
                                    <p class="text-muted text-center">Artist: {{ tab.artist }}</p>
                                    <p class="text-center">
                                        Difficulty: 
                                        <strong class="{% if tab.difficulty == 'Hard' %}red{% elif tab.difficulty == 'Intermediate' %}orange{% else %}green{% endif %}">
                                            {{ tab.difficulty }}
                                        </strong>
                                    </p>                                                                                                                                         
                                    {% comment %} <p class="post-subtitle mt-5"><i class="fa-solid fa-eye"></i> {{ tab.views }}

                                        <strong> | </strong>
                                           {% if average_rating %}
                                               <span class="stars">
                                                   <!-- Full Stars -->
                                                   {% for _ in star_range %}
                                                       {% if forloop.counter <= full_stars %}
                                                           <i class="fa fa-star" style="color: gold;"></i>
                                                       {% elif forloop.counter == full_stars|add:1 and half_star %}
                                                           <i class="fa fa-star-half-o" style="color: gold;"></i>
                                                       {% else %}
                                                           <i class="fa fa-star-o" style="color: gold;"></i>
                                                       {% endif %}
                                                   {% endfor %}
                                               </span>
                                               ({{ review_count }})
                                           {% else %}
                                               No ratings yet
                                           {% endif %}
                                       </p> {% endcomment %}
                                    <hr />
                                    
                                    <p class="text-center text-muted">Uploaded by: 
                                        {{ tab.creator.username }}
                                    </p>
                                    {% comment %} <p class="text-center text-muted">Uploaded by: 
                                        <a href="{% url 'creator_profile' tab.creator.id %}">
                                            {{ tab.creator.username }}
                                        </a> {% endcomment %}
                                    </p>
                                    <p class="text-center text-muted">Published: {{ tab.created_at|date:"F j, Y" }}</p>
                                </div>
                                <div class="text-center">
                                    {% comment %} <a href="{% url 'tab_detail' tab.id %}" class="btn btn-primary btn-sm">
                                        View Tab
                                    </a> {% endcomment %}
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous</a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a href="?page={{ num }}" class="page-link">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- tab_list.html content ends here -->
{% endblock %}
