{% extends 'base.html' %}
{% load static %}
{% load star_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text">
                    <!-- Tab title -->
                    <h1 class="post-title">{{ tab.title }}</h1>
                    <!-- Tab artist, difficulty and the created date -->
                    <p class="post-subtitle">
                        {{ tab.artist }} | Difficulty: {{ tab.difficulty }} | Published: {{ tab.created_at|date:"F j, Y" }}
                    </p>
                    <p class="post-subtitle mt-5">
                        <i class="fa-solid fa-eye"></i> {{ tab.views }}
                        <strong>|</strong>
                        {% if average_rating %}
                            <span class="stars">
                                <!-- Full Stars -->
                                {% for _ in star_range %}
                                    {% if forloop.counter <= full_stars %}
                                        <i class="fa fa-star gold-star"></i>
                                    {% elif forloop.counter == full_stars|add:1 and half_star %}
                                        <i class="fa fa-star-half-o gold-star"></i>
                                    {% else %}
                                        <i class="fa fa-star-o gold-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </span>
                            ({{ review_count }})
                        {% else %}
                            No ratings yet
                        {% endif %}
                    </p>
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'toggle_bookmark' tab.id %}">
                            {% csrf_token %}
                            {% if user in tab.bookmarks.all %}
                                <button type="submit" class="btn btn-bookmark post-subtitle">Remove Bookmark</button>
                            {% else %}
                                <button type="submit" class="btn btn-edit btn-bookmark post-subtitle">Add Bookmark</button>
                            {% endif %}
                        </form>
                    {% endif %}
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <img src="{% static 'images/placeholder.jpg' %}"
                         class="scale"
                         alt="placeholder">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col nopop-card mb-4 mt-3 left top">
                <div class="card-body">
                    <!-- Tab content -->
                    <p class="card-text">
                        <a href="{{ pdf }}" target="_blank" id="download-btn" class="btn">Download Tab</a>
                        <object class="mt-4 w-100" data="{{ pdf }}" height="600" type="application/pdf">
                            <div>
                                Unable to display PDF file. 
                                <a href="{{ pdf }}" class="btn btn-link">Download</a> instead.
                            </div>
                        </object>
                    </p>
                </div>
            </div>
        </div>
        <!-- Displaying count of reviews -->
        <div class="row">
            <div class="col-6">
                <strong class="text-secondary">
                    <i class="far fa-star"></i> {{ review_count }} Reviews
                </strong>
            </div>
            <div class="col-6 text-end">
                <strong class="text-secondary">Average rating {{ average_rating|floatformat:1 }} / 5 <i class="fa fa-star gold-star"></i> </strong>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>
        <!-- Displaying Reviews -->
        <div class="row">
            <div class="col-md-8 nopop-card mb-4 mt-3">
                <h3 class="m-3 mt-4">Reviews:</h3>
                <div class="card-body">
                    <!-- Iterate through each review in the reviews queryset -->
                    {% for review in reviews %}
                        <div class="p-2 reviews">
                            <p class="font-weight-bold ms-2 mt-2">
                                {{ review.user.username }}
                                <span class="font-weight-normal">{{ review.created_at|date:"F j, Y, g:i a" }}</span> rated:
                                <strong>{{ review.rating|stars_full }}{{ review.rating|stars_empty }}</strong>
                            </p>
                            <div class="ms-2" id="review{{ review.id }}">{{ review.comment|linebreaks }}</div>
                            {% if user.is_authenticated and review.user == user %}
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-delete" review_id="{{ review.id }}">Delete</button>
                                <button class="btn btn-signup me-2" review_id="{{ review.id }}">Edit</button>
                            </div>
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <!-- Creating New Reviews -->
            <div class="col-md-4 nopop-card mb-4 mt-3">
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <h3>Leave a review:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form id="reviewForm" class="review-form" method="post">
                            {{ review_form | crispy }}
                            {% csrf_token %}
                            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                        </form>
                    {% else %}
                        <p>Log in to leave a review</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade"
         id="deleteModal"
         tabindex="-1"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your review?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extras %}
    <script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}
