body {
    background-color: #FFF1E6; 
    font-family: 'Roboto', sans-serif;
    color: #2F2E41;
    line-height: 1.6;
}

/* Navbar Styling */
.navbar {
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 700;
    color: #2F2E41;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #F8B195;
}

.nav-link {
    color: #2F2E41;
    font-weight: 500;
    margin: 0 15px;
    transition: color 0.3s ease;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.nav-link:hover {
    color: #F8B195;
}

/* Card Styling */
.card {
    background-color: #FFE6DE;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-family: 'Merriweather', serif;
    color: #2F2E41;
    margin-bottom: 1rem;
}

/* Button Styling */
.btn {
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.btn-edit, .btn-signup {
    background-color: #B8E1DD;
    color: #2F2E41;
}

.btn-edit:hover, .btn-signup:hover, .btn-delete:hover {
    background-color: #F8B195;
    color: white;
}

.search-btn {
    background-color: transparent;
    color: #F8B195;
    border: 2px solid #F8B195;
}

.search-btn:hover {
    background-color: #F8B195;
    color: white;
}

/* Masthead Styling */
.masthead {
    background-color: #B8E1DD;
    color: #f9f5f2;
    padding: 3rem 0;
    margin-bottom: 2rem;
    border-radius: 0 0 20px 20px;
}

.masthead-text {
    padding: 1rem;
}

.post-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #2F2E41;
}

.bookmark-title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.post-subtitle {
    font-size: 1.1rem;
}

/* image styling */
.scale {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


/* Footer Styling */
.footer {
    background-color: #FFF1E6;
    padding: 1.5rem 0;
    text-align: center;
}

.footer-text {
    color: #2F2E41;
    margin: 0.5rem 0;
}

.footer-text a {
    color: #F8B195;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-text a:hover {
    color: #B8E1DD;
}

/* Star colour */
.gold-star {
    color: gold;
}

.reviews {
    background-color: #f9f5f2;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .masthead {
        padding: 2rem 0;
    }
    
    .card {
        margin-bottom: 15px;
    }
}

/* Difficulty Colours */
.green { color: #4CAF50; }
.orange { color: #FF9800; }
.red { color: #F44336; }

#download-btn {
    background-color: #FEC8D8;
    color: #2F2E41;
    border: none;
}

#download-btn:hover {
    background-color: #fd85a9;
    color: white;
}

.btn-bookmark {
    background-color: #f9f5f2;
    color: #2F2E41;
}

.btn-bookmark:hover {
    background-color: #F8B195;
    color: white;
}

/* Pagination Styling */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item {
    margin: 0 5px;
}

.page-item a {
    color: #2F2E41; 
    background-color: #FFF1E6; 
    border: 1px solid #E6E6E6;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.page-item a:hover {
    color: #FFF1E6; 
    background-color: #F8B195;
    border-color: #B8E1DD; 
}

.page-item.active a {
    color: white !important; 
    background-color: #B8E1DD !important;
    border-color: #B8E1DD !important;
}

.page-item.active a:hover {
    color: #FFF1E6 !important; 
    background-color: #F8B195 !important;
    border-color: #B8E1DD !important; 
}

.page-item.disabled a {
    color: #E6E6E6;
    background-color: #FFF1E6;
    border-color: #E6E6E6;
    cursor: not-allowed;
}

.margin-left {
    margin-left: 2rem;
}